.add_review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 5rem 0;

  &__subheading {
    font-weight: 600;
    font-size: 2em;
    text-align: center;
  }

  &__stars {
    font-size: 1.5em;
    -webkit-text-stroke: 0.0625rem var(--color-outline);
    letter-spacing: 0.1rem;

    &--full {
      color: var(--color-star-full);
    }

    &--empty {
      color: var(--color-star-empty);
    }
  }
}
