.add_review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 5rem 0;

  &__heading {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
  }

  &__subheading {
    font-weight: 600;
    font-size: 2em;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;

    min-width: 500px;
  }

  label {
    font-weight: 500;
    font-size: 1.2em;
  }

  input,
  label {
    display: block;
  }

  #id_rate > div > label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input[type="text"],
  textarea {
    border: var(--color-primary) solid 0.125rem;
    min-height: 2rem;
    padding: 1rem;
    font-size: 1.2em;
    font-family: "Source Sans Pro", sans-serif;
    border-radius: 0.5rem;
  }

  textarea {
    resize: vertical;
  }

  &__stars {
    font-size: 1.5em;
    -webkit-text-stroke: 0.0625rem var(--color-outline);
    letter-spacing: 0.1rem;

    &--full {
      color: var(--color-star-full);
    }

    &--empty {
      color: var(--color-star-empty);
    }
  }

  &__button {
    border: var(--color-primary) solid 0.125rem;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;

    transition: color var(--time-fast) var(--easing-in-out),
      background var(--time-fast) var(--easing-in-out);

    &:hover {
      background: var(--color-white);
      color: var(--color-primary);
      cursor: pointer;
    }
  }
}
