<footer class="footer">
    <div class="footer__wrapper container">
        <div class="footer__element">&copy;Copyright 2022</div>
        <div class="footer__element">Arkadiusz Wrzawiński, Patryk Radecki, Kamil Przybył</div>
    </div>
</footer>