{% load static %}

<div class="hero">
    <div class="hero__imageWrapper"><img class="hero__image" src="{% static 'images/hero.jpg' %}"/></div>
    <div class="hero__text">Recenzje restauracji</div>
</div>