<nav class="navigation">
    <button type="button" class="navigation__hamburgerButton HamburgerHandler" data-autohide="true"><span class="navigation__hamburgerButtonInside"></span></button>
    <ul class="navigation__menu">
        <li class="navigation__menuItem"><a class="button button--underlined" href="/">Strona główna</a></li>
            {% if user.is_authenticated %}
                <li class="navigation__menuItem"><a class="button button--underlined" href="/add">Dodaj restaurację</a></li>
                <li class="navigation__menuItem"><a class="button button--bordered" href="/signout">Wyloguj się</a></li>
            {% else %}
                <li class="navigation__menuItem"><a class="button button--underlined" href="/signup">Rejestracja</a></li>
                <li class="navigation__menuItem"><a class="button button--bordered" href="/signin">Logowanie</a></li>
            {% endif %}
        </li>
    </ul>
</nav>