{% extends "base.j2" %}

{% block title %}
    Recenzje restauracji - Aktywacja
{% endblock title %}
{% block content %}
    {% autoescape off %} 
        Aktywacja się nie powiodła, spróbuj ponownie później
    {% endautoescape %}
{% endblock content %}